.people-you-know img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.people-you-know {
  height: 350px;
  overflow: scroll;
  text-align: left;
}

ul.people-you-know li {
    cursor: pointer;
    transition: 200ms linear all;
}
ul.people-you-know li:hover {
    background: rgba(10, 10, 10, 0.1);
    transition: 200ms linear all;
}
