.people-you-know img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.people-you-know {
  height: 350px;
  overflow: scroll;
}

